
#con2h1{
   margin-top: 250px;
    color: #292E3D;
}
#con2{
    background-image: url(./../../assets/img3.png);
}
#con2row2{
    margin-top: 150px;
    background: #3559C7;
border-radius: 2px 2px 0px 0px;
color: wheat;

}
#con2p1{
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}
#con2p2{
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    
}
/* .con2btn{
    color: wheat;
    margin-left:10px;
    text-align: center;
    background: #292E3D;
    padding: 0px 40px 0px 40px;
} */
#con3row1{
    margin-top: 60px;
    font-family: Work Sans;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
}
#con3row2{
    
    margin-top: 50px;
}
/* .con3row2p1{
    font-family: Work Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;

}
.con3row2p2{
   
    font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #858EAD;

} */
/* #con3row2card1{
    border: 1.4px solid #E0E3EB;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 5px 5px 15px grey;
} */
/* 
#con3row2card2{
    border: 1.4px solid #E0E3EB;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 5px 5px 15px grey;
} */
/* 
#con3row2card3{
    border: 1.4px solid #E0E3EB;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 5px 5px 15px grey;
   */
/* } */
#con4-1{ 
    height: 550px;
    width:800px;
    margin-top: 100px;
    margin-left: 90px;
    
    box-shadow: 5px 5px 15px grey;
    background-image: url(./../../assets/img6.png);
}
#con4row1p1{
    font-family: Work Sans;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
color: wheat;
}
#con4row1p2{
color: wheat;
    font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

}
#con4row1{
    margin-top: 70px;
    margin-left: 650px;
    box-sizing: border-box ;
    box-shadow: 5px 5px 15px grey;
    padding: 10px 20px 20px 20px;
    border: solid 1px #2947A9 ;
    background: #2947A9;
    border-radius: 5px;
}
/* #con4row1btn{
    font-family: Work Sans;
   font-weight: bold;
color: #2947A9;
    margin-top: 20px;
    border: solid 1px wheat;
    border-radius: 5px;
    padding: 5px;
} */

#con5row1{
    margin-top: 60px;
    font-family: Work Sans;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
}
#con5row2{
    margin-top: 50px;
}
.con5row2p{
    margin-top: 30px;
    font-family: Work Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;

}
#con5row3{
    margin-top: 30px;
}
.con5row3p{
    margin-top: 30px;
    font-family: Work Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;

}
#con5row2card1{
    border: 1.4px solid #E0E3EB;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 5px 5px 20px grey;
}

#con5row2card2{
    background-color: #2947A9;

    border: 1.4px solid #E0E3EB;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 5px 5px 20px grey;
}

#con5row2card3{
    border: 1.4px solid #E0E3EB;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 5px 5px 20px grey;
  
}
#con5row3card1{
    background-color: #2947A9;
    border: 1.4px solid #E0E3EB;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 5px 5px 20px grey;
}

#con5row3card2{
    border: 1.4px solid #E0E3EB;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 5px 5px 20px grey;
}

#con5row3card3{
    background-color: #2947A9;
    border: 1.4px solid #E0E3EB;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 5px 5px 20px grey;
  
}
#con6row1{
padding-left: 50px;
    margin-top: 160px;
    border: 1.4px solid #E0E3EB;
    box-shadow: 5px 5px 20px grey;
}

#con6row1img{
margin-top: 120px;
margin-left: -50px;
}
#con6row2h1{
    height: 100px;
padding-left: 50px;
   margin-top: -20px;
    border: 1.4px solid #E0E3EB;
    box-shadow: 5px 5px 20px grey;
}
#con6row2img{
    margin-top: -50px;
    margin-left: 30px;
 }
 #con6row2h2{
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: #2947A9;
    
 }
 #con6row2p{
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #525B7A;
    
 }
/* #con6row2btn{
    color: wheat;
    background-color:#2947A9 ;
    border: #2947A9;
} */
#con6row3h1{
    height: 100px;
padding-left: 50px;
   margin-top: -190px;
    border: 1.4px solid #E0E3EB;
    box-shadow: 5px 5px 20px grey;
}
#con6row3img{
    margin-top: -220px;
    margin-left: -50px;
}
#con6row4h1{
    height: 100px;
    padding-left: 50px;
       margin-top: -120px;
       margin-left: 30px;
        border: 1.4px solid #E0E3EB;
        box-shadow: 5px 5px 20px grey;
}
#con6row4img{
    margin-top: -50px;
    margin-left: -40px;
}
#con7{
    height: 300px;
    margin-top: 100px;
    background-image: url(./../../assets/img17.png);
}
#con7row1{
    padding-top: 100px;
}
#con7row1p{
    color: white;
    font-family: Work Sans;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
}
/* #con7row1btn{
    padding: 5px;
    margin-top: 120px;
border-radius: 5px;
} */
#con8row1{
margin-top: 70px;
}
#con8row2{
    /* text-align: center; */
    font-family: Work Sans;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
color: #4c4c4d;

}
#con8row3{
    margin-top: 20px;

}
#con9row1{
    margin-top: 100px;
    text-align: center;
}
 #con9row2{
    margin-left: 60px;
}
.con9row2input{
margin-top: 20px;
}
#con9row3{
margin-top: 20px;
    width: 440px;
    height: 70px;
    padding-top: -40px;
    border: 1px solid #747373;
    /* box-sizing: border-box; */
    border-radius: 4px;
}
#con9row4btn{
    margin-top: 20px;
    margin-left: -30px;
}